:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Jersey25';
}

body {
    background: light-dark(#C09ADB, #431C52); 
}

nav {
    background: light-dark(#C09ADB, #431C52); 
    height: 45px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc(100vw-1300px) / 2; 
}

.logo {
    color: light-dark(#2b521c, #b5db9a);
    font-weight: bold; 
    font-style: italic;
    font-size: 30px;
    padding: 0 1rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.img-dark {
    display: none; 
}

.img-light {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo:hover .img-dark {
    display: inline-flex;
}

.logo:hover .img-light {
    display: none;
}

nav img {
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: light-dark(#2b521c, #b5db9a);
    padding: 0 0.5rem; 
}

nav a:hover {
    color: light-dark(#b5db9a, #2b521c);
}

.hero {
    background: light-dark(#C09ADB, #431C52); 
}

.hero-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc(100vw-1300px) / 2; 
}

.column-left {
    display: absolute; 
    top: 50%; 
    left: 50%; 
    max-width: 100%; 
    height: auto;
    transform: translate(0%, 40%);
    color: light-dark(#2b521c, #b5db9a);
    padding: 0rem 6rem; 
}

.column-left h1 {
    margin-bottom: 0.3rem;
    font-size: 5rem; 
    font-style: italic;
    color: light-dark(#431C52, #C09ADB); 
}

.column-left p {
    font-size: 2rem; 
    line-height: 1.5;
}

.column-right {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem; 
}

.hero-image {
    max-width: 100%; 
    height: auto;
}

@font-face {
    font-family: 'Jersey25';
    src: url('./Jersey25-Regular.ttf') format('truetype');
}


@media screen and (max-width: 760px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    .img-dark {
        display: inline-flex; 
        align-items: center;
        justify-content: center;
    }
    .img-light {
        display: none;
    }

    .logo:hover .img-dark {
        display: none;
    }
    
    .logo:hover .img-light {
        display: inline-flex; 
    }
}