:root {
    color-scheme: light dark;
    /* background: light-dark(#C09ADB, #431C52); 
    color: light-dark(#2b521c, #b5db9a); */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {

}

header {
    padding: 15px; 
}

main {
    padding: 15px; 
}

footer {
    padding: 15px; 
}

nav {
    text-align: right;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}